@charset "UTF-8";
.name-field {
  width: 9.31rem;
  height: 2.69rem;
}
.name-field p {
  position: relative;
  left: 1.2rem;
  top: -2rem;
}

.avatar-box {
  width: 2.69rem;
  height: 2.69rem;
}

.boost-zone {
  width: 22.88rem;
  height: 3.69rem;
  position: relative;
  top: 2.2rem;
  padding-top: 1rem;
}

.bread-count {
  display: flex;
  gap: 5px;
  height: 2.38rem;
  position: relative;
  top: 4.3rem;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.bread-count svg {
  margin-top: 5px;
}

.main-circle {
  z-index: 1;
  width: 14.25rem;
  height: 14.25rem;
  border-radius: 20rem;
  position: relative;
  top: 15lvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-circle .inner-circle-1 {
  z-index: 1;
  width: 10.75rem;
  height: 10.75rem;
  border-radius: 20rem;
  box-shadow: -0.25rem -0.25rem 1rem 0rem rgba(160, 164, 171, 0.75), 0.38rem 0.38rem 1rem 0rem rgba(160, 164, 171, 0.25);
}
.main-circle .inner-circle-1:active {
  background-color: #ecf0f3;
  filter: brightness(80%);
}
.main-circle .inner-circle-0 {
  z-index: 1;
  width: 10.75rem;
  height: 10.75rem;
  border-radius: 20rem;
  border-radius: 7.13rem;
  box-shadow: -0.06rem -0.06rem 0.38rem 0rem rgb(64, 70, 79), 0.06rem 0.06rem 1rem 0rem rgb(12, 13, 15);
}
.main-circle .inner-circle-0:active {
  background-color: #17191c;
  filter: brightness(80%);
}
.main-circle .energy {
  position: absolute;
}

.progress-circle {
  z-index: -1;
  --color-2: #ecf0f300;
  --circle-size: 5px;
  --border-width: 5px;
  width: 13.44rem;
  height: 13.44rem;
  border-radius: 50%;
  margin: 0.5em;
  background-image: conic-gradient(var(--color) var(--progress), var(--color-2) 0);
  position: relative;
}

.progress-circle::before {
  --inner-circle-size: calc(var(--circle-size) - var(--border-width));
  --inner-circle-gap: calc(var(--border-width) / 2);
  content: "";
  display: block;
  width: var(--inner-circle-size);
  height: var(--inner-circle-size);
  border-radius: 50%;
  position: relative;
  left: var(--inner-circle-gap);
  top: var(--inner-circle-gap);
}

.energy-count {
  position: relative;
  top: 20lvh;
}

.navigation {
  position: absolute;
  top: 87dvh;
  margin: auto;
  width: 23.19rem;
  height: 3.31rem;
}

.ReactModal__Overlay {
  z-index: 20;
  opacity: 0;
  transform: translateY(900px);
  transition: all 300ms ease-in;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(900px);
}

.ant-switch-handle::before {
  z-index: 2;
}

body > div:nth-child(4) > div > div > div > button.ant-switch.css-dev-only-do-not-override-p8b6i.ant-switch-checked > span {
  background-color: #4096ff;
}

body > div:nth-child(4) > div > div > div > button.ant-switch.css-dev-only-do-not-override-p8b6i > span {
  background-color: rgb(16, 16, 68);
}

.star {
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 10px #ffffff, 5px -5px 10px #ffffff, -5px 5px 10px #ffffff, -5px -5px 10px #ffffff; /* Верхний - Слева  */
}/*# sourceMappingURL=Home.css.map */