@charset "UTF-8";
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
 supported by Chrome, Edge, Opera and Firefox */
}

.linkPar {
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

.name-field {
  width: 9.31rem;
  height: 2.69rem;
}
.name-field p {
  position: relative;
  top: -2.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar-box {
  width: 2.69rem;
  height: 2.69rem;
}

.boost-zone {
  width: 22.88rem;
  height: 3.69rem;
  position: relative;
  top: 2.2rem;
  padding-top: 1rem;
}

.bread-count {
  display: flex;
  gap: 5px;
  height: 2.38rem;
  position: relative;
  top: 4.3rem;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-circle {
  z-index: 1;
  width: 14.25rem;
  height: 14.25rem;
  border-radius: 20rem;
  position: relative;
  top: 15lvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-circle .inner-circle-1 {
  z-index: 1;
  width: 10.75rem;
  height: 10.75rem;
  border-radius: 20rem;
  box-shadow: -0.25rem -0.25rem 1rem 0rem rgba(160, 164, 171, 0.75), 0.38rem 0.38rem 1rem 0rem rgba(160, 164, 171, 0.25);
  transition: all 200ms;
}
.main-circle .inner-circle-1:active {
  background-color: #ecf0f3;
  filter: brightness(80%);
}
.main-circle .inner-circle-0 {
  z-index: 1;
  width: 10.75rem;
  height: 10.75rem;
  border-radius: 20rem;
  border-radius: 7.13rem;
  box-shadow: -0.06rem -0.06rem 0.38rem 0rem rgb(64, 70, 79), 0.06rem 0.06rem 1rem 0rem rgb(12, 13, 15);
  transition: all 100ms;
}
.main-circle .inner-circle-0:active {
  background-color: #17191c;
  filter: brightness(80%);
}
.main-circle .energy {
  position: absolute;
}

.progress-circle {
  z-index: -1;
  --color-2: #ecf0f300;
  --circle-size: 5px;
  --border-width: 5px;
  width: 13.44rem;
  height: 13.44rem;
  border-radius: 50%;
  margin: 0.5em;
  background-image: conic-gradient(var(--color) var(--progress), var(--color-2) 0);
  position: relative;
}

.progress-circle::before {
  --inner-circle-size: calc(var(--circle-size) - var(--border-width));
  --inner-circle-gap: calc(var(--border-width) / 2);
  content: "";
  display: block;
  width: var(--inner-circle-size);
  height: var(--inner-circle-size);
  border-radius: 50%;
  position: relative;
  left: var(--inner-circle-gap);
  top: var(--inner-circle-gap);
}

.energy-count {
  position: relative;
  top: 20lvh;
}

.navigation {
  position: absolute;
  top: 87dvh;
  margin: auto;
  width: 23.19rem;
  height: 3.31rem;
}

.ReactModal__Overlay {
  z-index: 20;
  opacity: 0;
  transform: translateY(900px);
  transition: all 200ms ease-in;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(900px);
}

.ant-switch-handle::before {
  z-index: 2;
}

body > div:nth-child(4) > div > div > div > button.ant-switch.css-dev-only-do-not-override-p8b6i.ant-switch-checked > span {
  background-color: #4096ff;
}

body > div:nth-child(4) > div > div > div > button.ant-switch.css-dev-only-do-not-override-p8b6i > span {
  background-color: rgb(16, 16, 68);
}

.star {
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 10px #ffffff, 5px -5px 10px #ffffff, -5px 5px 10px #ffffff, -5px -5px 10px #ffffff; /* Верхний - Слева  */
}

.friends .btn {
  border: none;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}
.friends .sparkle {
  fill: #ffffff;
  transition: all 800ms ease-in-out;
}
.friends .text {
  font-weight: 600;
  color: #ffffff;
  font-size: medium;
}
.friends .btn.active.theme-1 {
  background: linear-gradient(0deg, #a47cf3, #683fea);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917ff;
  transform: translateY(-2px);
}
.friends .btn.active.theme-0 {
  background: linear-gradient(0deg, #ff6f6f, #FF3F3F);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #bf5353;
  transform: translateY(-2px);
}
.friends .btn.active .text {
  color: white;
}
.friends .btn.active .sparkle {
  fill: white;
  transform: scale(1.2);
}/*# sourceMappingURL=Home.css.map */